## Final Project Submission

Please fill out:
* Student name: Magali Solimano
* Student pace: self paced 
* Scheduled project review date/time: 
* Instructor name: Jeff Herman
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

# Import libraries
import pandas as pd

import numpy as np

%matplotlib notebook
import matplotlib.pyplot as plt

In [2]:
## Load the data (11 files)
df1 = pd.read_csv('zippedData/bom.movie_gross.csv.gz', compression='gzip')
df2 = pd.read_csv('zippedData/imdb.name.basics.csv.gz', compression='gzip')
df3 = pd.read_csv('zippedData/imdb.title.akas.csv.gz', compression='gzip')
df4 = pd.read_csv('zippedData/imdb.title.basics.csv.gz', compression='gzip') 
df5 = pd.read_csv('zippedData/imdb.title.crew.csv.gz', compression='gzip')
df6 = pd.read_csv('zippedData/imdb.title.principals.csv.gz', compression='gzip')
df7 = pd.read_csv('zippedData/imdb.title.ratings.csv.gz', compression='gzip')
df8 = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t', compression='gzip')
#df9 needs different encoding
df9 = pd.read_csv('zippedData/rt.reviews.tsv.gz', compression='gzip', delimiter='\t', encoding='iso-8859-1')
df10 = pd.read_csv('zippedData/tmdb.movies.csv.gz', compression='gzip')
df11 = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', compression='gzip')

In [3]:
# Explore the dataframes and data types
print(df1.info())
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [4]:
print(df2.info())
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   nconst              606648 non-null  object
 1   primary_name        606648 non-null  object
 2   birth_year          82736 non-null   float64
 3   death_year          6783 non-null    float64
 4   primary_profession  555308 non-null  object
 5   known_for_titles    576444 non-null  object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB
None

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [5]:
print(df3.info())
df3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB
None

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [6]:
print(df4.info())
df4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB
None

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [7]:
print(df5.info())
df5.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     146144 non-null  object
 1   directors  140417 non-null  object
 2   writers    110261 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB
None

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [8]:
print(df6.info())
df6.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   tconst      1028186 non-null  object
 1   ordering    1028186 non-null  int64
 2   nconst      1028186 non-null  object
 3   category    1028186 non-null  object
 4   job         177684 non-null   object
 5   characters  393360 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB
None

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [9]:
print(df7.info())
df7.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB
None

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [10]:
print(df8.info())
df8.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB
None

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [11]:
print(df9.info())
df9.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB
None

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [12]:
# Drop 'id' col?
df9.id.unique()

array([   3,    5,    6, ..., 1998, 1999, 2000])

In [13]:
print(df10.info())
df10.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB
None

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [14]:
df10 = df10.drop(columns=['Unnamed: 0'])
df10.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [15]:
print(df11.info())
df11.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB
None

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [ ]:
## QUESTION 1: What movies are the top revenue generators?

In [ ]:
#df1 and #df11 have revenue cols -- compare these results. Can the dfs be joined?

In [16]:
# Convert foreign_gross to float; Rename col and create new worldwide col
df1['foreign_gross'] = pd.to_numeric(df1['foreign_gross'], errors='coerce')
display(df1.info())
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2032 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

None

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010

In [17]:
# Convert budget and revenue cols to float dtype; release_date to datetime. Remove '$' and ','.
df11['production_budget'] = df11['production_budget'].map(lambda x: float(x.replace("$", "").replace(',','')))
df11['domestic_gross'] = df11['domestic_gross'].map(lambda x: float(x.replace("$", "").replace(',','')))
df11['worldwide_gross'] = df11['worldwide_gross'].map(lambda x: float(x.replace("$", "").replace(',','')))
df11['release_date'] = pd.to_datetime(df11['release_date'])
df11['year'] = pd.DatetimeIndex(df11['release_date']).year

# Confirm that dtype conversions worked and that null values did not increase
display(df11.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   float64
 5   worldwide_gross    5782 non-null   float64
 6   year               5782 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 316.3+ KB

None

In [18]:
df11 = df11.rename(columns={"movie": "title"})
df11.head()

,id,release_date,title,production_budget,domestic_gross,worldwide_gross,year
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,2009
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011
2,3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,2019
3,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,2017

In [ ]:
# Compare top gross: df1 vs df11

In [19]:
display(df1.sort_values(by=['domestic_gross'], ascending=False).head(20))
df11.sort_values(by=['domestic_gross'], ascending=False).head(20)

,title,studio,domestic_gross,foreign_gross,year
1872,Star Wars: The Force Awakens,BV,936700000.0,NaN,2015
3080,Black Panther,BV,700100000.0,646900000.0,2018
3079,Avengers: Infinity War,BV,678800000.0,NaN,2018
1873,Jurassic World,Uni.,652300000.0,NaN,2015
727,Marvel's The Avengers,BV,623400000.0,895500000.0,2012
2758,Star Wars: The Last Jedi,BV,620200000.0,712400000.0,2017
3082,Incredibles 2,BV,608600000.0,634200000.0,2018
2323,Rogue One: A Star Wars Story,BV,532200000.0,523900000.0,2016
2759,Beauty and the Beast (2017),BV,504000000.0,759500000.0,2017
2324,Finding Dory,BV,486300000.0,542300000.0,2016
1875,Avengers: Age of Ultron,BV,459000000.0,946400000.0,2015
729,The Dark Knight Rises,WB,448100000.0,636800000.0,2012
1131,The Hunger Games: Catching Fire,LGF,424700000.0,440300000.0,2013
3081,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000.0,2018
0,Toy Story 3,BV,415000000.0,652000000.0,2010
2767,Wonder Woman,WB,412600000.0,409300000.0,2017
1128,Iron Man 3,BV,409000000.0,805800000.0,2013
2322,Captain America: Civil War,BV,408100000.0,745200000.0,2016
735,The Hunger Games,LGF,408000000.0,286400000.0,2012
2762,Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000.0,2017

,id,release_date,title,production_budget,domestic_gross,worldwide_gross,year
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2015
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09,2009
41,42,2018-02-16,Black Panther,200000000.0,700059566.0,1.348258e+09,2018
6,7,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,2018
42,43,1997-12-19,Titanic,200000000.0,659363944.0,2.208208e+09,1997
33,34,2015-06-12,Jurassic World,215000000.0,652270625.0,1.648855e+09,2015
26,27,2012-05-04,The Avengers,225000000.0,623279547.0,1.517936e+09,2012
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,2017
43,44,2018-06-15,Incredibles 2,200000000.0,608581744.0,1.242521e+09,2018
74,75,2008-07-18,The Dark Knight,185000000.0,533720947.0,1.001996e+09,2008
44,45,2016-12-16,Rogue One: A Star Wars Story,200000000.0,532177324.0,1.049103e+09,2016
134,35,2017-03-17,Beauty and the Beast,160000000.0,504014165.0,1.259200e+09,2017
45,46,2016-06-17,Finding Dory,200000000.0,486295561.0,1.021215e+09,2016
303,4,1999-05-19,Star Wars Ep. I: The Phantom Menace,115000000.0,474544677.0,1.027045e+09,1999
3464,65,1977-05-25,Star Wars Ep. IV: A New Hope,11000000.0,460998007.0,7.865980e+08,1977
3,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015
10,11,2012-07-20,The Dark Knight Rises,275000000.0,448139099.0,1.084439e+09,2012
692,93,2004-05-19,Shrek 2,70000000.0,441226247.0,9.370081e+08,2004
3525,26,1982-06-11,ET: The Extra-Terrestrial,10500000.0,435110554.0,7.929653e+08,1982
95,96,2019-03-08,Captain Marvel,175000000.0,426525952.0,1.123062e+09,2019

In [ ]:
# There is overlap between df1 & df11. But, df11 has more movie entries (incl. several top revenue generators) that are not in df1.
# df1 might not have a particular studio's movies.

In [ ]:
# Join df11 and df1--left join to bring in df1's studio info.

In [ ]:
# Set index to title

In [20]:
df1.set_index('title', inplace = True)
df1.head()

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000.0,2010
Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
Inception,WB,292600000.0,535700000.0,2010
Shrek Forever After,P/DW,238700000.0,513900000.0,2010

In [21]:
df11.set_index('title', inplace = True)
df11.head()

,id,release_date,production_budget,domestic_gross,worldwide_gross,year
title,,,,,,
Avatar,1,2009-12-18,425000000.0,760507625.0,2.776345e+09,2009
Pirates of the Caribbean: On Stranger Tides,2,2011-05-20,410600000.0,241063875.0,1.045664e+09,2011
Dark Phoenix,3,2019-06-07,350000000.0,42762350.0,1.497624e+08,2019
Avengers: Age of Ultron,4,2015-05-01,330600000.0,459005868.0,1.403014e+09,2015
Star Wars Ep. VIII: The Last Jedi,5,2017-12-15,317000000.0,620181382.0,1.316722e+09,2017

In [23]:
df_revenue = df11.join(df1, how='left', rsuffix='_right')
display(df_revenue.info())
df_revenue.head(20)

<class 'pandas.core.frame.DataFrame'>
Index: 5782 entries, #Horror to é·æ±ä¸è (CJ7)
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5782 non-null   int64
 1   release_date          5782 non-null   datetime64[ns]
 2   production_budget     5782 non-null   float64
 3   domestic_gross        5782 non-null   float64
 4   worldwide_gross       5782 non-null   float64
 5   year                  5782 non-null   int64
 6   studio                1246 non-null   object
 7   domestic_gross_right  1245 non-null   float64
 8   foreign_gross         1082 non-null   float64
 9   year_right            1247 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 496.9+ KB

None

,id,release_date,production_budget,domestic_gross,worldwide_gross,year,studio,domestic_gross_right,foreign_gross,year_right
title,,,,,,,,,,
#Horror,16,2015-11-20,1500000.0,0.0,0.0,2015,NaN,NaN,NaN,NaN
(500) Days of Summer,55,2009-07-17,7500000.0,32425665.0,34439060.0,2009,NaN,NaN,NaN,NaN
10 Cloverfield Lane,54,2016-03-11,5000000.0,72082999.0,108286422.0,2016,Par.,72100000.0,38100000.0,2016.0
10 Days in a Madhouse,48,2015-11-11,12000000.0,14616.0,14616.0,2015,NaN,NaN,NaN,NaN
10 Things I Hate About You,63,1999-03-31,13000000.0,38177966.0,60413950.0,1999,NaN,NaN,NaN,NaN
"10,000 B.C.",51,2008-03-07,105000000.0,94784201.0,269065678.0,2008,NaN,NaN,NaN,NaN
102 Dalmatians,6,2000-11-22,85000000.0,66941559.0,66941559.0,2000,NaN,NaN,NaN,NaN
10th & Wolf,32,2006-08-18,8000000.0,54702.0,143782.0,2006,NaN,NaN,NaN,NaN
11:14,90,2005-08-12,6000000.0,0.0,0.0,2005,NaN,NaN,NaN,NaN
12 Angry Men,36,1957-04-13,340000.0,0.0,0.0,1957,NaN,NaN,NaN,NaN
12 Monkeys,18,1995-12-27,29000000.0,57141459.0,168841459.0,1995,NaN,NaN,NaN,NaN
12 Rounds,37,2009-03-27,20000000.0,12234694.0,17306648.0,2009,NaN,NaN,NaN,NaN
12 Strong,64,2018-01-19,35000000.0,45819713.0,71118378.0,2018,WB,45800000.0,21600000.0,2018.0
12 Years a Slave,18,2013-10-18,20000000.0,56671993.0,181025343.0,2013,FoxS,56700000.0,131100000.0,2013.0
127 Hours,6,2010-11-05,18000000.0,18335230.0,60217171.0,2010,FoxS,18300000.0,42400000.0,2010.0
13 Going On 30,96,2004-04-23,37000000.0,57139723.0,97658712.0,2004,NaN,NaN,NaN,NaN
13 Hours: The Secret Soldiers of Benghazi,30,2016-01-15,50000000.0,52853219.0,69411370.0,2016,Par.,52900000.0,16600000.0,2016.0
13 Sins,51,2014-04-18,4000000.0,9134.0,47552.0,2014,RTWC,13800.0,NaN,2014.0
1408,2,2007-06-22,22500000.0,71985628.0,131263370.0,2007,NaN,NaN,NaN,NaN
15 Minutes,60,2001-03-09,42000000.0,24375436.0,56331864.0,2001,NaN,NaN,NaN,NaN

In [ ]:
# Drop df1 revenue data since they seem to round, while df11's revenue data seems more precise.
# Drop foreign_gross, year_right.

In [24]:
df_revenue = df_revenue.drop(columns=['domestic_gross_right', 'foreign_gross', 'year_right'])

In [25]:
# Calculate foreign gross revenue as difference between worldwide and domestic revenue
df_revenue['foreign_gross'] = df_revenue['worldwide_gross'] - df_revenue['domestic_gross']
df_revenue.head()

,id,release_date,production_budget,domestic_gross,worldwide_gross,year,studio,foreign_gross
title,,,,,,,,
#Horror,16,2015-11-20,1500000.0,0.0,0.0,2015,NaN,0.0
(500) Days of Summer,55,2009-07-17,7500000.0,32425665.0,34439060.0,2009,NaN,2013395.0
10 Cloverfield Lane,54,2016-03-11,5000000.0,72082999.0,108286422.0,2016,Par.,36203423.0
10 Days in a Madhouse,48,2015-11-11,12000000.0,14616.0,14616.0,2015,NaN,0.0
10 Things I Hate About You,63,1999-03-31,13000000.0,38177966.0,60413950.0,1999,NaN,22235984.0

In [31]:
# Convert "0" values to NaN
df_revenue['domestic_gross'] = df_revenue['domestic_gross'].replace(0.0, np.nan)
df_revenue['worldwide_gross'] = df_revenue['worldwide_gross'].replace(0.0, np.nan)
df_revenue['foreign_gross'] = df_revenue['foreign_gross'].replace(0.0, np.nan)
df_revenue.head(10)

,id,release_date,production_budget,domestic_gross,worldwide_gross,year,studio,foreign_gross
title,,,,,,,,
#Horror,16,2015-11-20,1500000.0,NaN,NaN,2015,NaN,NaN
(500) Days of Summer,55,2009-07-17,7500000.0,32425665.0,34439060.0,2009,NaN,2013395.0
10 Cloverfield Lane,54,2016-03-11,5000000.0,72082999.0,108286422.0,2016,Par.,36203423.0
10 Days in a Madhouse,48,2015-11-11,12000000.0,14616.0,14616.0,2015,NaN,NaN
10 Things I Hate About You,63,1999-03-31,13000000.0,38177966.0,60413950.0,1999,NaN,22235984.0
"10,000 B.C.",51,2008-03-07,105000000.0,94784201.0,269065678.0,2008,NaN,174281477.0
102 Dalmatians,6,2000-11-22,85000000.0,66941559.0,66941559.0,2000,NaN,NaN
10th & Wolf,32,2006-08-18,8000000.0,54702.0,143782.0,2006,NaN,89080.0
11:14,90,2005-08-12,6000000.0,NaN,NaN,2005,NaN,NaN
12 Angry Men,36,1957-04-13,340000.0,NaN,NaN,1957,NaN,NaN

In [45]:
df_revenue['worldwide_net_revenue'] = df_revenue['worldwide_gross'] - df_revenue['production_budget']
df_revenue

,id,release_date,production_budget,domestic_gross,worldwide_gross,year,studio,foreign_gross,worldwide_net_revenue
title,,,,,,,,,
#Horror,16,2015-11-20,1500000.0,NaN,NaN,2015,NaN,NaN,NaN
(500) Days of Summer,55,2009-07-17,7500000.0,32425665.0,34439060.0,2009,NaN,2013395.0,26939060.0
10 Cloverfield Lane,54,2016-03-11,5000000.0,72082999.0,108286422.0,2016,Par.,36203423.0,103286422.0
10 Days in a Madhouse,48,2015-11-11,12000000.0,14616.0,14616.0,2015,NaN,NaN,-11985384.0
10 Things I Hate About You,63,1999-03-31,13000000.0,38177966.0,60413950.0,1999,NaN,22235984.0,47413950.0
...,...,...,...,...,...,...,...,...,...
mother!,59,2017-09-15,30000000.0,17800004.0,42531076.0,2017,Par.,24731072.0,12531076.0
xXx,98,2002-08-09,70000000.0,141930000.0,267200000.0,2002,NaN,125270000.0,197200000.0
xXx: Return of Xander Cage,15,2017-01-20,85000000.0,44898413.0,345033359.0,2017,NaN,300134946.0,260033359.0
Ã l\'intÃ©rieur,57,2008-04-15,3000000.0,NaN,895932.0,2008,NaN,895932.0,-2104068.0
é·æ±ä¸è (CJ7),2,2008-03-07,20000000.0,206678.0,47300771.0,2008,NaN,47094093.0,27300771.0

In [46]:
display(df_revenue.info())
df_revenue.apply(['mean', 'median', 'std'])

<class 'pandas.core.frame.DataFrame'>
Index: 5782 entries, #Horror to é·æ±ä¸è (CJ7)
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     5782 non-null   int64
 1   release_date           5782 non-null   datetime64[ns]
 2   production_budget      5782 non-null   float64
 3   domestic_gross         5234 non-null   float64
 4   worldwide_gross        5415 non-null   float64
 5   year                   5782 non-null   int64
 6   studio                 1246 non-null   object
 7   foreign_gross          4163 non-null   float64
 8   worldwide_net_revenue  5415 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 611.7+ KB

None

,id,release_date,production_budget,domestic_gross,worldwide_gross,year,foreign_gross,worldwide_net_revenue
mean,50.372363,2004-07-06 05:20:31.546177792,3.158776e+07,4.625747e+07,9.768800e+07,2003.967139,6.890918e+07,6.437999e+07
median,50.000000,NaT,1.700000e+07,2.198422e+07,3.333987e+07,2007.000000,2.183036e+07,1.190000e+07
std,28.821076,NaT,4.181208e+07,7.029651e+07,1.788591e+08,12.724386,1.282326e+08,1.498581e+08

In [56]:
# Domestic and worldwide gross revenue, net revenue are positively skewed--mean is larger than median, with large outliers distorting the mean.
# Explore distribution of worldwide_net_revenue
fig, ax = plt.subplots(figsize=(6,6))
ax.hist(df_revenue['worldwide_net_revenue'], bins='auto', color = 'green', alpha = 0.5)
ax.set_title('Distribution of Worldwide Net Revenue')
ax.set_xlabel('Net Revenue ($ Billions)')
ax.set_ylabel('Number of Movies')
ax.axvline(df_revenue['worldwide_net_revenue'].mean(), color = 'black')

In [52]:
## Explore distributions and relationships
pd.plotting.scatter_matrix(df_revenue[['production_budget', 'domestic_gross', 'foreign_gross','worldwide_gross', 'worldwide_net_revenue']], figsize=(6,6));
plt.show()

In [ ]:
# ***Identify movies with above-median worldwide net revenue
above_median_worldwide_net_revenue = []
# identify movies by top gross and net revenue

In [50]:
df_revenue.sort_values(by=['worldwide_net_revenue'], ascending=False).head(20)

,id,release_date,production_budget,domestic_gross,worldwide_gross,year,studio,foreign_gross,worldwide_net_revenue
title,,,,,,,,,
Avatar,1,2009-12-18,425000000.0,760507625.0,2.776345e+09,2009,NaN,2.015838e+09,2.351345e+09
Titanic,43,1997-12-19,200000000.0,659363944.0,2.208208e+09,1997,NaN,1.548844e+09,2.008208e+09
Avengers: Infinity War,7,2018-04-27,300000000.0,678815482.0,2.048134e+09,2018,BV,1.369319e+09,1.748134e+09
Star Wars Ep. VII: The Force Awakens,6,2015-12-18,306000000.0,936662225.0,2.053311e+09,2015,NaN,1.116649e+09,1.747311e+09
Jurassic World,34,2015-06-12,215000000.0,652270625.0,1.648855e+09,2015,Uni.,9.965842e+08,1.433855e+09
Furious 7,67,2015-04-03,190000000.0,353007020.0,1.518723e+09,2015,Uni.,1.165716e+09,1.328723e+09
The Avengers,27,2012-05-04,225000000.0,623279547.0,1.517936e+09,2012,NaN,8.946564e+08,1.292936e+09
Harry Potter and the Deathly Hallows: Part II,61,2011-07-15,125000000.0,381193157.0,1.341693e+09,2011,NaN,9.605000e+08,1.216693e+09
Black Panther,42,2018-02-16,200000000.0,700059566.0,1.348258e+09,2018,BV,6.481987e+08,1.148258e+09
Jurassic World: Fallen Kingdom,13,2018-06-22,170000000.0,417719760.0,1.305773e+09,2018,Uni.,8.880530e+08,1.135773e+09
Frozen,56,2013-11-22,150000000.0,400738009.0,1.272470e+09,2013,BV,8.717319e+08,1.122470e+09
Beauty and the Beast,35,2017-03-17,160000000.0,504014165.0,1.259200e+09,2017,NaN,7.551855e+08,1.099200e+09
Minions,73,2015-07-10,74000000.0,336045770.0,1.160336e+09,2015,Uni.,8.242904e+08,1.086336e+09
Avengers: Age of Ultron,4,2015-05-01,330600000.0,459005868.0,1.403014e+09,2015,BV,9.440081e+08,1.072414e+09
The Lord of the Rings: The Return of the King,26,2003-12-17,94000000.0,377845905.0,1.141403e+09,2003,NaN,7.635574e+08,1.047403e+09
Incredibles 2,44,2018-06-15,200000000.0,608581744.0,1.242521e+09,2018,BV,6.339390e+08,1.042521e+09
Iron Man 3,48,2013-05-03,200000000.0,408992272.0,1.215392e+09,2013,BV,8.064000e+08,1.015392e+09
Star Wars Ep. VIII: The Last Jedi,5,2017-12-15,317000000.0,620181382.0,1.316722e+09,2017,NaN,6.965404e+08,9.997217e+08
Aquaman,36,2018-12-21,160000000.0,335061807.0,1.146895e+09,2018,WB,8.118328e+08,9.868946e+08
The Fate of the Furious,23,2017-04-14,250000000.0,225764765.0,1.234846e+09,2017,Uni.,1.009082e+09,9.848463e+08

In [ ]:
# QUESTIONS

In [ ]:
## Clean up: Rename columns, convert dtypes to prepare dfs for joins and analysis

In [ ]:
df2 = df2.rename(columns={"nconst": "name_id"})
df2.head()

In [ ]:
df4 = df4.rename(columns={"tconst": "title_id"})
df4.head()

In [ ]:
df5 = df5.rename(columns={"tconst": "title_id"})
df5.head()

In [ ]:
df6 = df6.rename(columns={"tconst": "title_id", "nconst": "name_id"})
df6.head()

In [ ]:
df7 = df7.rename(columns={"tconst": "title_id"})
df7.head()

In [ ]:
df8['theater_date'] = pd.to_datetime(df8['theater_date'])
df8['dvd_date'] = pd.to_datetime(df8['dvd_date'])
df8.info()

In [ ]:
df8 = df8.rename(columns={"runtime": "runtime_mins"})
df8['runtime_mins'] = df8['runtime_mins'].str.rstrip('minutes')
df8.head()

In [ ]:
df10['release_date'] = pd.to_datetime(df10['release_date'])
df10.info()

In [ ]:
## Calculate worldwide_net_revenue and foreign_gross (revenue generated outside of US)
df11['worldwide_net_revenue'] = df11.worldwide_gross - df11.production_budget
df11['foreign_gross'] = df11.worldwide_gross - df11.domestic_gross

In [ ]:
## Explore distributions and relationships
pd.plotting.scatter_matrix(df11[['production_budget', 'domestic_gross', 'foreign_gross','worldwide_gross', 'worldwide_net_revenue']], figsize=(6,6));
plt.show()

In [ ]:
df11.apply(['mean', 'median', 'std'])

In [ ]:
# Explore distribution of worldwide_net_revenue
fig, ax = plt.subplots(figsize=(6,6))
ax.hist(df11['worldwide_net_revenue'], bins='auto', alpha = 0.5)
ax.set_title('Distribution of Worldwide Net Revenue')
ax.set_xlabel('Net Revenue ($ Billions)')
ax.set_ylabel('Number of Movies')
ax.axvline(df11['worldwide_net_revenue'].mean(), color = 'black')
ax.axvline(df11['worldwide_net_revenue'].median(), color = 'red')

In [ ]:
df11['worldwide_net_revenue'].describe()

In [ ]:
# Worldwide net revenue is positively skewed--mean is larger than median, with large outliers distorting the mean.
# Identify movies with above-median worldwide net revenue
above_median_worldwide_net_revenue = []

#df11.query('worldwide_net_revenue'>=8.550286e+06)

movies = df11.movie.values
#ww_net_rev = df11.worldwide_net_revenue.values

if df11['worldwide_net_revenue'] >= 8.550286e+06:
    above_median_worldwide_net_revenue.append()

above_median_worldwide_net_revenue